*{
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: hand-written;
	src: url(/GamjaFlower-Regular.ttf);
}

@font-face {
	font-family: karla;
	src: url(/Karla-Regular.ttf);
}

body{
    background-color: #FFF6D2;
}

h1, button{
    font-family: hand-written;
}

h2, p, input{
    font-family: karla;
}

h1{
    font-size: 96px;
}

header{
    margin: 20px
}

section{
    padding: 20px;
    margin: 20px
}

section:first-child{
    background-color: #E0F588;
}

section:last-child{
    background-color: #E4E9D0;
}

.flex{
    display: flex;
    justify-content: row;
}


